body
{
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 1rem;
    display: flex;
    background: linear-gradient(to top left, rgb(108, 128, 226), rgb(242, 247, 190));
    min-height: 100vh;
    color: #1D438A;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    padding: 2rem;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
}